body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: 1.8rem;
  color: greenyellow;
  text-align: center;
}

.app-container {
  border-radius: 20px;
  box-shadow: 0 1px 10px rgba(173, 255, 47, 0.8);
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #222325;
}

.board-grid {
  margin: -10px 50px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1px; 
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.board-cell {
  cursor: pointer;
  box-shadow: 0 1px 10px rgba(47, 255, 220, 0.4);
  width: 3vw; 
  height: 3vw; 
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  background-color: rgb(19, 18, 18);
  border: 1px solid #d1d5db;
  color: greenyellow;
}

.board-cell.error {
  background-color: #ff0000 !important;
  color: white !important;
  border: 2px solid whitesmoke !important;
}

.button-container {
  
  margin-top: 10px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  box-shadow: 0 1px 2px rgba(47, 255, 220, 0.4);
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.847);
  color: greenyellow;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 1px 2px greenyellow;
  background-color: rgba(0, 0, 0, 0.834);
}
p{
  max-width: 60vh;
}

/* HP */
@media (max-width: 480px) {
  p{
    max-width: 70vw;
    font-size: 0.8rem;
    text-align: start;
  }
  h1{
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .board-grid {
    grid-template-columns: repeat(9, 1fr);
    width: fit-content;
  }

  .board-cell {
    width: 6vw;
    height: 6vw;
    font-size: 1rem;
  }
}


/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .board-grid {
    max-width: 80vw;
  }
  .board-cell {
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .board-grid {
    max-width: 720px;
  }
  .board-cell {
    font-size: 1.2rem;
  }
}
