body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
}

h1 {
  font-size: 1.8rem;
  color: rgba(255, 114, 187, 0.8);
  text-align: center;
}

.app-container {
  margin-top: -20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 10px rgba(226, 55, 143, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: black;
  color: white;
  height: 750px;
  margin: 30px 0 30px 0;
}
.created-container {
  border-radius: 20px;
  box-shadow: 0 1px 10px rgba(226, 55, 143, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  
  height: 200px;
  margin: 30px 0 30px 0;
}
.created-container h1 {
  color: white;
}
.created {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.video-container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video-container label{
  color: white;
}
.video {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

.board-grid {
  margin: -10px 50px;
  display: grid;
  grid-template-columns: repeat(9, 0fr);
  border: 2px solid black;
  cursor: pointer;
  width: fit-content;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px rgba(255, 114, 187, 0.8) ;
}

.board-cell {
  cursor: pointer;
  width: 2.3vw;
  height: 2.3vw;
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  background-color: rgb(19, 18, 18);
  border: 1px solid gray ;
  color: rgba(255, 114, 187, 0.8);
}

.border-top {
  border-top: 3px solid whitesmoke;
}
.border-left {
  border-left: 3px solid whitesmoke;
}
.border-right {
  border-right: 3px solid whitesmoke;
}
.border-bottom {
  border-bottom: 3px solid whitesmoke;
}

.board-cell.error {
  background-color: #ff0000 !important;
  color: white !important;
  border: 2px solid whitesmoke !important;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.button-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  box-shadow: 0 1px 2px rgba(190, 10, 103, 0.8);
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.847);
  color: rgba(255, 114, 187, 0.8);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 1px 2px rgba(255, 114, 187, 0.8);
  background-color: rgba(0, 0, 0, 0.834);
}

p {
  max-width: 90vh;
}

.solve-time {
  color: rgba(255, 114, 187, 0.8);
  margin-top: 2px;
  margin-bottom: -18px;
}

.dropdown {
  position: relative;
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #222;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  top: 100%;
  left: 0;
  min-width: 100px;
  z-index: 10;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  padding: 8px 4px;
  color: rgba(255, 114, 187, 0.8);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #333;
}

label{
  font-size: 1rem;
  color: rgba(255, 114, 187, 0.8);
}

.algorithm-selector{
  margin-bottom: 12px;
}

select{
  cursor: pointer;
  padding: 0.5rem 0.6rem;
  outline: none;
  color: rgba(255, 114, 187, 0.8);
  background-color: rgba(0, 0, 0, 0.834);
  box-shadow: 0 1px 2px rgba(255, 114, 187, 0.8);
}

/* HP */
@media (max-width: 480px) {
  .app-container{
    padding: 15px;
  }
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  p {
    max-width: 70vw;
    font-size: 0.8rem;
    text-align: start;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .board-grid {
    margin: 0;
    grid-template-columns: repeat(9, 1fr);
    width: fit-content;
  }

  .board-cell {
    width: 6vw;
    height: 6vw;
    font-size: 1rem;
  }
}


/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .board-grid {
    max-width: 80vw;
  }

  .board-cell {
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 769px) {
  .board-grid {
    max-width: 720px;
  }

  .board-cell {
    font-size: 1.2rem;
  }
}